.apply-button{

    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.number-input{

    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    width: 30px;
    padding: 10px;
}